body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(SignupPageBackground.jpg);
    background-size: cover;
}

.box{
    width: 300px;
    padding: 30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.979);
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #b89ce6;
    padding:14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus
{
    width: 270px;
    border-color: #377caaec;
}

.box input[type="submit"], .box input[type="reset"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #377caaec;
    padding:14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover, .box input[type="reset"]:hover{
    background: #377caaec; 

}
